<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:annotation-config />
	<!-- Employee bean -->
	<!-- address constructor argument is not necessary if annotated for the constructor method -->
	<bean id="employee1" class="com.telstra.model.Employee">
 		<constructor-arg name="empId" value="1001" /> 
		<constructor-arg name="empName" value="Srikanth" />
		<constructor-arg name="salary" value="89000" />
	</bean>
		
	<!-- Address bean -->
	<bean id="address1" class="com.telstra.model.Address">
		<property name="streetNo" value="1059" />
		<property name="city" value="RJY" />
		<property name="pin" value="543001" />
	</bean>
	<bean id="address2" class="com.telstra.model.Address">
		<property name="streetNo" value="9109" />
		<property name="city" value="TPG" />
		<property name="pin" value="534112" />
	</bean>

</beans>